.page-404 {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;

   margin-top: 4rem;
   margin-bottom: 2rem;
}

.page-404 img {
   width: 65%;
}

.page-404 .content-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}
