.page {
   display: grid;
   grid-template-columns: 15rem 1fr;
   grid-template-areas: "sidebar main";
}

.page section {
   width: 100%;
}

.page main {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 2rem;
   grid-area: main;
}

/*tag section styling in labels page*/
.tag-section {
   padding: 1rem;
}

.tag-section h5 {
   margin: 1rem 0;
}

.tag-section-heading {
   display: flex;
   align-items: center;
   gap: 8px;
}
