aside hr {
   width: 100%;
}

aside {
   background: var(--WHITE);
   grid-area: sidebar;
   height: max-content;
}

.side-nav li {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 12px;

   padding: 10px;
   cursor: pointer;
   border-radius: 5px;
}

.side-nav {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   height: 75vh;
}

.side-nav li span {
   font-size: 1.25rem;
   background-color: transparent;
}

.active {
   background-color: var(--SIDEBAR-ACTIVE);
}

.side-nav li:last-child {
   margin-top: auto;
   padding: 0;
   cursor: default;

   display: flex;
   justify-content: center;
}
