:root {
   --MODAL-CONTAINER-BG: rgba(0, 0, 0, 0.4);
   --SIDEBAR-ACTIVE: rgba(0, 0, 0, 0.2);
}

.App {
   min-height: 100vh;
   width: 100%;
   display: grid;
   grid-template-rows: 4.5rem 1fr auto;
   grid-template-areas:
      "topnav"
      "page"
      "footer";
}
